.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-auto-flow: column;
}

.header_elem-li > ul {
  list-style-type: none;
}

.footer_elem-img:hover {
  border-radius: 30px;
  box-shadow: 50px;
}
