.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 200px 200px;
}

.header_elem-li > ul {
  list-style-type: none;
}

.footer_elem-img:hover {
  border-radius: 30px;
  box-shadow: 50px;
}
